/*------------------------------------*\
** BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
** RESPONSIVE FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
** UTILIY FUNCTION FOR FONT-SIZE MIXIN
\*------------------------------------*/
/*------------------------------------*\
** COLORS
\*------------------------------------*/
/*------------------------------------*\
** BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
# GRID
\*------------------------------------*/
/*------------------------------------*\
** BUTTONS
\*------------------------------------*/
/*------------------------------------*\
** FONT WEIGHTS
\*------------------------------------*/
/*------------------------------------*\
** FONT CONFIG
\*------------------------------------*/
/*------------------------------------*\
** FONT SIZES
\*------------------------------------*/
.clearfix {
  overflow: hidden; }

.clear {
  clear: both; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.right {
  float: right; }

.left {
  float: left; }

.no-padding {
  padding: 0; }

.center-block {
  margin-left: auto;
  margin-right: auto; }

.center-inblock {
  text-align: center; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.show {
  visibility: visible;
  opacity: 1; }

.hide {
  visibility: hidden;
  opacity: 0; }

/*------------------------------------*\
# TEXT
\*------------------------------------*/
.text--small {
  font-size: 0.8rem; }

.text--large {
  font-size: 1.2rem; }

.text--double {
  font-size: 2rem; }

.text--center {
  text-align: center; }

.text--primary {
  color: #474747; }

.text--light {
  color: #8c8c8c; }

.text--dark {
  color: #474747; }

.text--limiter {
  max-width: 40rem; }

.full--height {
  height: 100%; }

.full--height-vh {
  height: 100vh; }

.full--width {
  width: 100%; }

.full--width-vw {
  width: 100vw; }

.no-scroll {
  overflow: hidden; }

/*------------------------------------*\
** GLOBAL
\*------------------------------------*/
html {
  color: #474747;
  background: #fff;
  font-family: "LibreBaskerville-Regular", serif;
  font-size: 18px;
  line-height: 1.2; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

/*------------------------------------*\
** VARIABLES
\*------------------------------------*/
@font-face {
  font-family: 'LibreBaskerville-Bold';
  src: asset-url("../../fonts/LibreBaskerville-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'LibreBaskerville-Italic';
  src: asset-url("../../fonts/LibreBaskerville-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'LibreBaskerville-Regular';
  src: asset-url("../../fonts/LibreBaskerville-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Poppins-Bold';
  src: asset-url("../../fonts/Poppins-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Poppins-Light';
  src: asset-url("../../fonts/Poppins-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Poppins-Reuglar';
  src: asset-url("../../fonts/Poppins-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal; }
/*------------------------------------*\
** HEADINGS
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins-Reuglar", sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 0.67em;
  font-weight: 400; }

h1 {
  font-size: 1.75rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h1 {
      font-size: 2rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 2rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 2.5rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1440px) {
    h1 {
      font-size: 2.75rem;
      line-height: 1.2; } }

h2 {
  font-size: 1.5rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h2 {
      font-size: 1.5rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 1.5rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1200px) {
    h2 {
      font-size: 1.75rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1440px) {
    h2 {
      font-size: 1.75rem;
      line-height: 1.2; } }

h3 {
  font-size: 1.125rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h3 {
      font-size: 1.125rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h3 {
      font-size: 1.125rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1200px) {
    h3 {
      font-size: 1.25rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1440px) {
    h3 {
      font-size: 1.375rem;
      line-height: 1.2; } }

h4 {
  font-size: 0.75rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h4 {
      font-size: 0.875rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h4 {
      font-size: 0.875rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1200px) {
    h4 {
      font-size: 0.875rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1440px) {
    h4 {
      font-size: 1rem;
      line-height: 1.2; } }

h5 {
  font-size: 0.875rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h5 {
      font-size: 0.875rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h5 {
      font-size: 1rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1200px) {
    h5 {
      font-size: 1rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1440px) {
    h5 {
      font-size: 1.125rem;
      line-height: 1.2; } }

h6 {
  font-size: 0.625rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h6 {
      font-size: 0.75rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h6 {
      font-size: 0.875rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1200px) {
    h6 {
      font-size: 0.875rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1440px) {
    h6 {
      font-size: 0.875rem;
      line-height: 1.2; } }

/*------------------------------------*\
** LISTS
\*------------------------------------*/
ul li {
  list-style-type: none; }

ol li {
  list-style-type: none; }

/*------------------------------------*\
** LINKS
\*------------------------------------*/
a.link {
  outline-width: 0;
  text-decoration: none;
  color: #fff;
  transition: 0.2s; }

a.link:hover, a.link:focus, a.link:active {
  opacity: 0.8; }

/*------------------------------------*\
** OTHER
\*------------------------------------*/
p {
  font-size: 1rem;
  line-height: 1.2;
  font-family: "LibreBaskerville-Regular", serif;
  margin-bottom: 1.5rem; }
  @media screen and (min-width: 640px) {
    p {
      font-size: 1rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    p {
      font-size: 1rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1200px) {
    p {
      font-size: 1rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1440px) {
    p {
      font-size: 1rem;
      line-height: 1.2; } }

.footer {
  color: #fff;
  background: linear-gradient(to bottom, #72d0da 0%, #62e5d5 100%);
  padding: 30px 0 50px 0; }
  .footer .logo {
    width: 250px;
    margin-left: 330px;
    margin-bottom: 15px; }
  .footer .sm-icons {
    padding-top: 80px; }
    .footer .sm-icons__img {
      width: 32px;
      margin-right: 20px; }
  .footer .copy {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding-top: 15px; }
    .footer .copy h5 {
      font-weight: 700; }
    .footer .copy h5, .footer .copy h6 {
      display: inline; }

/*------------------------------------*\
# LAYOUT
\*------------------------------------*/
.layout--text {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem; }
.layout--main {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem; }
.layout--full {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem; }
  @media only screen and (min-width: 640px) {
    .layout--full {
      padding-left: 0;
      padding-right: 0; } }
.layout--padded {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  @media only screen and (min-width: 640px) {
    .layout--padded {
      padding-top: 4rem;
      padding-bottom: 4rem; } }
.layout--padded--double {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  @media only screen and (min-width: 640px) {
    .layout--padded--double {
      padding-top: 8rem;
      padding-bottom: 8rem; } }
.layout--soft-horizontal-pad {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.subsection {
  margin-bottom: 2rem; }

.section {
  margin-bottom: 2rem; }
  @media only screen and (min-width: 640px) {
    .section {
      margin-bottom: 4rem; } }

.section--double {
  margin-bottom: 4rem; }
  @media only screen and (min-width: 640px) {
    .section--double {
      margin-bottom: 8rem; } }

/*------------------------------------*\
# GRID
\*------------------------------------*/
.grid {
  display: flex;
  flex-wrap: wrap; }

.no-wrap {
  flex-wrap: no-wrap !important; }

.grid--gutters {
  margin-left: calc( 2rem / -2 );
  margin-right: calc( 2rem / -2 ); }

.grid--gutters > .cell {
  padding-left: calc( 2rem / 2 );
  padding-right: calc( 2rem / 2 ); }

.grid--gutters--double {
  margin-left: -2rem;
  margin-right: -2rem; }

.grid--gutters--double > .cell {
  padding-left: 2rem;
  padding-right: 2rem; }

.cell {
  box-sizing: border-box; }

.cell--auto {
  flex: 1; }

.cell--1 {
  flex-shrink: 0;
  flex-grow: 0;
  width: calc( 100% * ( 1 / 12 ) ); }

.cell--2 {
  flex-shrink: 0;
  flex-grow: 0;
  width: calc( 100% * ( 2 / 12 ) ); }

.cell--3 {
  flex-shrink: 0;
  flex-grow: 0;
  width: calc( 100% * ( 3 / 12 ) ); }

.cell--4 {
  flex-shrink: 0;
  flex-grow: 0;
  width: calc( 100% * ( 4 / 12 ) ); }

.cell--5 {
  flex-shrink: 0;
  flex-grow: 0;
  width: calc( 100% * ( 5 / 12 ) ); }

.cell--6 {
  flex-shrink: 0;
  flex-grow: 0;
  width: calc( 100% * ( 6 / 12 ) ); }

.cell--7 {
  flex-shrink: 0;
  flex-grow: 0;
  width: calc( 100% * ( 7 / 12 ) ); }

.cell--8 {
  flex-shrink: 0;
  flex-grow: 0;
  width: calc( 100% * ( 8 / 12 ) ); }

.cell--9 {
  flex-shrink: 0;
  flex-grow: 0;
  width: calc( 100% * ( 9 / 12 ) ); }

.cell--10 {
  flex-shrink: 0;
  flex-grow: 0;
  width: calc( 100% * ( 10 / 12 ) ); }

.cell--11 {
  flex-shrink: 0;
  flex-grow: 0;
  width: calc( 100% * ( 11 / 12 ) ); }

.cell--12 {
  flex-shrink: 0;
  flex-grow: 0;
  width: calc( 100% * ( 12 / 12 ) ); }

@media only screen and (min-width: 0) {
  .cell--1--small {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 1 / 12 ) ); }

  .cell--2--small {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 2 / 12 ) ); }

  .cell--3--small {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 3 / 12 ) ); }

  .cell--4--small {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 4 / 12 ) ); }

  .cell--5--small {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 5 / 12 ) ); }

  .cell--6--small {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 6 / 12 ) ); }

  .cell--7--small {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 7 / 12 ) ); }

  .cell--8--small {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 8 / 12 ) ); }

  .cell--9--small {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 9 / 12 ) ); }

  .cell--10--small {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 10 / 12 ) ); }

  .cell--11--small {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 11 / 12 ) ); }

  .cell--12--small {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 12 / 12 ) ); } }
@media only screen and (min-width: 640px) {
  .cell--1--medium {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 1 / 12 ) ); }

  .cell--2--medium {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 2 / 12 ) ); }

  .cell--3--medium {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 3 / 12 ) ); }

  .cell--4--medium {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 4 / 12 ) ); }

  .cell--5--medium {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 5 / 12 ) ); }

  .cell--6--medium {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 6 / 12 ) ); }

  .cell--7--medium {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 7 / 12 ) ); }

  .cell--8--medium {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 8 / 12 ) ); }

  .cell--9--medium {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 9 / 12 ) ); }

  .cell--10--medium {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 10 / 12 ) ); }

  .cell--11--medium {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 11 / 12 ) ); }

  .cell--12--medium {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 12 / 12 ) ); } }
@media only screen and (min-width: 1024px) {
  .cell--1--large {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 1 / 12 ) ); }

  .cell--2--large {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 2 / 12 ) ); }

  .cell--3--large {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 3 / 12 ) ); }

  .cell--4--large {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 4 / 12 ) ); }

  .cell--5--large {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 5 / 12 ) ); }

  .cell--6--large {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 6 / 12 ) ); }

  .cell--7--large {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 7 / 12 ) ); }

  .cell--8--large {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 8 / 12 ) ); }

  .cell--9--large {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 9 / 12 ) ); }

  .cell--10--large {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 10 / 12 ) ); }

  .cell--11--large {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 11 / 12 ) ); }

  .cell--12--large {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 12 / 12 ) ); } }
@media only screen and (min-width: 1200px) {
  .cell--1--xlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 1 / 12 ) ); }

  .cell--2--xlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 2 / 12 ) ); }

  .cell--3--xlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 3 / 12 ) ); }

  .cell--4--xlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 4 / 12 ) ); }

  .cell--5--xlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 5 / 12 ) ); }

  .cell--6--xlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 6 / 12 ) ); }

  .cell--7--xlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 7 / 12 ) ); }

  .cell--8--xlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 8 / 12 ) ); }

  .cell--9--xlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 9 / 12 ) ); }

  .cell--10--xlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 10 / 12 ) ); }

  .cell--11--xlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 11 / 12 ) ); }

  .cell--12--xlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 12 / 12 ) ); } }
@media only screen and (min-width: 1440px) {
  .cell--1--xxlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 1 / 12 ) ); }

  .cell--2--xxlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 2 / 12 ) ); }

  .cell--3--xxlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 3 / 12 ) ); }

  .cell--4--xxlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 4 / 12 ) ); }

  .cell--5--xxlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 5 / 12 ) ); }

  .cell--6--xxlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 6 / 12 ) ); }

  .cell--7--xxlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 7 / 12 ) ); }

  .cell--8--xxlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 8 / 12 ) ); }

  .cell--9--xxlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 9 / 12 ) ); }

  .cell--10--xxlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 10 / 12 ) ); }

  .cell--11--xxlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 11 / 12 ) ); }

  .cell--12--xxlarge {
    flex-shrink: 0;
    flex-grow: 0;
    width: calc( 100% * ( 12 / 12 ) ); } }
/*------------------------------------*\
# GRID UTILITIES
\*------------------------------------*/
.grid--center {
  justify-content: center; }

/*------------------------------------*\
# CONTAINER
\*------------------------------------*/
.container {
  margin: 0 auto; }
  @media only screen and (min-width: 0) {
    .container {
      width: 85%; } }
  @media only screen and (min-width: 640px) {
    .container {
      width: 80%; } }
  @media only screen and (min-width: 1024px) {
    .container {
      width: 75%; } }

.header {
  width: 100%;
  color: #fff;
  position: relative;
  overflow: hidden; }
  @media only screen and (min-width: 0) {
    .header {
      height: 25vh; } }
  @media only screen and (min-width: 640px) {
    .header {
      height: 35vh; } }
  @media only screen and (min-width: 1024px) {
    .header {
      height: 45vh; } }
  @media only screen and (min-width: 0) {
    .header h1 {
      margin-top: 130px; } }
  @media only screen and (min-width: 640px) {
    .header h1 {
      margin-top: 190px; } }
  @media only screen and (min-width: 1024px) {
    .header h1 {
      margin-top: 250px; } }
  .header--home {
    height: 65vh; }
    .header--home h1 {
      margin-top: 0; }
  .header .post__img {
    width: 100%;
    height: 120vh;
    position: absolute;
    left: 0;
    top: -150px;
    z-index: -2; }
  .header .post__info {
    margin-top: 250px; }
    .header .post__info--top-margin {
      margin-top: 320px; }
  .header .post__title {
    border-top: 2px dotted #fff;
    margin-bottom: 15px;
    padding-top: 20px; }

.nav {
  background: linear-gradient(to bottom, #72afd3 0%, #37ecba 100%);
  color: #fff;
  font-family: "Poppins-Reuglar", sans-serif; }
  .nav__logo img {
    width: 48px;
    margin-top: 30px; }
  .nav__logo h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding-top: 50px;
    padding-left: 60px; }
  .nav .search-icon {
    width: 32px;
    margin-bottom: -10px; }
  .nav__links ul {
    margin-top: 5px;
    margin-bottom: 15px; }
  .nav__links li {
    display: inline-block;
    margin: 0 15px; }

@media only screen and (min-width: 0) {
  .about {
    padding: 20px 0; } }
@media only screen and (min-width: 1024px) {
  .about {
    padding: 30px 0; } }
.about__highlight {
  font-size: 1.125rem;
  font-weight: 600; }
.about h2 {
  color: #8c8c8c; }
  @media only screen and (min-width: 0) {
    .about h2 {
      margin-top: 20px;
      margin-bottom: 20px; } }
  @media only screen and (min-width: 1024px) {
    .about h2 {
      margin-top: 30px;
      margin-bottom: 30px; } }
.about p {
  text-align: justify; }

.accordion__item {
  margin-bottom: 2rem;
  position: relative; }

.accordion__head {
  color: #474747;
  border-bottom: 2px solid #73dfdf;
  font-size: 1.25rem;
  transition: 0.3s;
  padding-bottom: 1rem; }
  .accordion__head:hover {
    cursor: pointer;
    color: #73dfdf; }

.accordion__body {
  display: none; }
  .accordion__body > p:not(:last-child) {
    margin-bottom: 1rem;
    display: inline-block; }

.accordion__arrow {
  position: absolute;
  right: 0;
  top: 0.5rem;
  display: inline-block;
  transform: translate(-16px, 0); }
  .accordion__arrow:before, .accordion__arrow:after {
    content: "";
    transition: all 0.3s ease-in-out;
    position: absolute;
    background-color: #73dfdf;
    width: 3px;
    height: 16px; }
  .accordion__arrow:before {
    transform: translate(8px, 0) rotate(45deg); }
  .accordion__arrow:after {
    transform: translate(-2px, 0) rotate(-45deg); }

.accordion__item.active .accordion__arrow:before {
  transform: translate(-2px, 0) rotate(45deg); }
.accordion__item.active .accordion__arrow:after {
  transform: translate(8px, 0) rotate(-45deg); }

.accordion__item.active .accordion__head {
  border-bottom: none; }

.authors {
  color: #fff;
  background: #73dfdf;
  padding-top: 50px;
  padding-bottom: 20px; }
  .authors h2 {
    margin-bottom: 0; }

.author {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px; }
  .author__img {
    width: 130px;
    height: 130px;
    overflow: hidden; }
    .author__img img {
      width: 130px;
      height: 130px; }
  .author__info {
    padding-top: 20px;
    padding-left: 50px; }
    .author__info p:first-child {
      font-size: 1.25rem;
      font-weight: 600; }
    .author__info p:nth-child(2) {
      font-weight: 400;
      margin-bottom: 20px; }
    .author__info p {
      font-weight: 600;
      margin: 0; }

.post__text {
  border-bottom: 2px dotted #73dfdf; }
  .post__text p:not(:first-child) {
    text-indent: 30px; }

.btn {
  display: inline-block;
  font-weight: 600;
  border: none;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  /*&--primary:hover, &--primary:focus, &--primary:active {
  	opacity: 0.8;
  }*/ }
  .btn--primary {
    background: linear-gradient(to bottom, #72afd3 0%, #37ecba 100%);
    transition: 0.2s; }
    .btn--primary a {
      color: #fff;
      text-decoration: none; }

/*------------------------------------*\
# HAMBURGER
\*------------------------------------*/
.nav--user__burger {
  display: inline-block;
  position: absolute;
  height: 1rem;
  right: 2rem;
  top: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  z-index: 3; }
  .nav--user__burger:hover {
    cursor: pointer; }

.burger {
  display: block;
  height: 0.25rem;
  width: 2rem;
  background: #fff;
  position: relative;
  transition-all: 0.2s; }
  .burger:before {
    content: '';
    position: absolute;
    top: -0.5rem;
    width: 2rem;
    left: 0;
    height: 0.25rem;
    background: #fff;
    transition: 0.2s; }
  .burger:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0.5rem;
    width: 2rem;
    height: 0.25rem;
    background: #fff;
    transition: 0.2s; }

.burger--active {
  background: transparent; }
  .burger--active:before {
    transform: rotate(45deg);
    top: 0; }
  .burger--active:after {
    transform: rotate(-45deg);
    top: 0; }

.carousel {
  background: #73dfdf;
  height: 65vh; }

.category ul li {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 10px; }
.category .link {
  color: #474747;
  font-family: "Poppins-Reuglar", sans-serif;
  font-size: 0.75rem; }
.category .current {
  color: #73dfdf;
  font-weight: 600; }

.docs {
  background-image: url("../img/photos/melinda-pack-233281.jpg");
  padding: 50px 0 100px 0; }
  .docs h2 {
    color: #8c8c8c;
    margin-bottom: 50px; }
  .docs .doc {
    color: #fff;
    height: 15vh;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    padding: 20px 80px 20px 50px; }
    .docs .doc img {
      width: 48px;
      padding-top: 15px;
      margin-right: 15px; }

.events {
  padding: 50px 0 30px 0; }
  .events .event {
    display: flex;
    padding-top: 20px;
    padding-bottom: 50px; }
    .events .event__img {
      max-width: 250px;
      max-height: 200px;
      overflow: hidden; }
      .events .event__img img {
        width: 300px;
        height: 200px; }
    .events .event__info {
      padding-left: 30px; }
      .events .event__info p:first-child {
        margin-bottom: 20px;
        font-size: 1.25rem;
        font-weight: 600; }
      .events .event__info p:nth-child(2) {
        font-weight: 600; }
      .events .event__info p {
        margin: 0; }
    .events .event--border::after {
      content: '';
      position: absolute;
      width: 575px;
      margin-top: 240px;
      border-bottom: 2px dotted #8c8c8c; }
  .events .btn {
    margin-top: 20px;
    margin-bottom: 30px; }

.faq {
  padding: 50px 0 30px 0; }
  .faq p {
    text-align: justify;
    margin-bottom: 0; }
  .faq p:first-child {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 0; }
  .faq .link {
    color: #474747;
    font-family: "Poppins-Reuglar", sans-serif;
    font-size: 0.75rem;
    font-weight: 600; }
  .faq .btn {
    margin-top: 30px;
    margin-bottom: 30px; }

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0; }
.form__label {
  display: none; }
.form__input {
  color: #474747;
  text-align: center;
  border: none;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem; }
  .form__input--contact {
    font-family: "LibreBaskerville-Regular", serif;
    font-size: 1rem;
    text-align: left;
    padding-left: 1.25rem; }
    @media only screen and (min-width: 0) {
      .form__input--contact {
        width: 100%; } }
    @media only screen and (min-width: 640px) {
      .form__input--contact {
        width: 40%; } }
    @media only screen and (min-width: 1024px) {
      .form__input--contact {
        width: 30%; } }
.form .textarea {
  width: 100%;
  color: #474747;
  font-family: "LibreBaskerville-Regular", serif;
  font-size: 1rem;
  border: none;
  resize: none;
  margin-top: 20px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem; }
.form .checkbox {
  margin-top: 30px; }
  .form .checkbox__label {
    font-family: "Poppins-Reuglar", sans-serif;
    font-size: 0.75rem;
    font-weight: 600; }
.form .btn {
  margin-left: -5px; }
  .form .btn--contact {
    margin-top: -30px; }

/*------------------------------------*\
# CONTACT FORM
\*------------------------------------*/
.form-background {
  color: #fff;
  background-image: url("../img/photos/tim-marshall-57456.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
  padding: 50px 0; }
  @media only screen and (min-width: 0) {
    .form-background h2 {
      margin-bottom: 20px; } }
  @media only screen and (min-width: 1024px) {
    .form-background h2 {
      margin-bottom: 40px; } }
  .form-background--contact {
    background-image: url("../img/photos/corinne-kutz-211251.jpg");
    margin-top: 0; }
    .form-background--contact .fieldset {
      margin: 0; }
    .form-background--contact .btn {
      margin-top: 20px; }

.pagination {
  padding-bottom: 50px; }
  .pagination ul li {
    display: inline-block;
    margin-left: 10px; }
  .pagination .link {
    color: #474747;
    font-family: "Poppins-Reuglar", sans-serif;
    font-size: 1rem; }
  .pagination .current {
    color: #73dfdf;
    font-weight: 600; }

.posts {
  color: #fff;
  padding: 80px 0; }
  .posts--padding {
    padding: 50px 0; }
  .posts .post {
    max-width: 407px;
    min-height: 230px;
    position: relative;
    overflow: hidden; }
    .posts .post__img {
      width: 407px;
      height: 250px;
      padding: 0 18px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -2; }
    .posts .post__info {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 20px; }
    .posts .post__title {
      border-top: 2px dotted #73dfdf;
      margin: 0 40px;
      padding-top: 15px; }

.quote {
  color: #fff;
  background-image: url("../img/photos/tim-marshall-57456.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh; }
  .quote__text {
    text-align: center;
    margin-top: 175px; }
  .quote__author {
    text-align: right;
    margin-right: 280px; }
    .quote__author::before {
      content: '-'; }

.summary {
  border-bottom: 2px dotted #73dfdf;
  padding-top: 25px;
  padding-bottom: 20px; }
  .summary__img img {
    width: 350px;
    height: 230px; }
  .summary h2 {
    font-family: "LibreBaskerville-Regular", serif;
    font-weight: 600; }
  .summary--no-border {
    border: none; }
  .summary span {
    color: #73dfdf; }

.map {
  color: #fff;
  background-color: #73dfdf; }
  @media only screen and (min-width: 0) {
    .map {
      padding-top: 40px;
      padding-bottom: 60px; } }
  @media only screen and (min-width: 1024px) {
    .map {
      padding-top: 60px;
      padding-bottom: 80px; } }
  @media only screen and (min-width: 0) {
    .map h2 {
      margin-bottom: 30px; } }
  @media only screen and (min-width: 1024px) {
    .map h2 {
      margin-bottom: 50px; } }
  .map .gmap {
    width: 100%;
    margin: 0; }
    @media only screen and (min-width: 0) {
      .map .gmap {
        height: 40vh; } }
    @media only screen and (min-width: 1024px) {
      .map .gmap {
        height: 50vh; } }

/*# sourceMappingURL=main.css.map */
