.footer {
	color: $white;
	background: $light-gradient;
	padding: 30px 0 50px 0;

	.logo {
		@include breakpoint ($small) {
			display: none;
		}
  
		@include breakpoint ($large) {
			display: block;
			width: 250px;
			margin-left: 130px;
			margin-bottom: 20px;
		}

		@include breakpoint ($xlarge) {
			margin-left: 150px;
		}

		@include breakpoint ($xxlarge) {
			margin-left: 250px;
		}
	}

	.sm-icons {
		padding-top: 85px;

		&__img {
			width: 32px;
			margin-right: 20px;

			@include breakpoint ($small) {
				margin-bottom: 15px;
			}

			@include breakpoint ($large) {
				margin-bottom: 0;
			}
		}
	}

	.copy {
		display: flex;
		justify-content: space-between;
		border-top: 2px solid $white;
		padding-top: 15px;

		h5 {
			font-weight: $bold;
		}

		h5, h6 {
			display: inline;
		}
	}
}