.header {
	width: 100%;
	color: $white;
	position: relative;
	overflow: hidden;
	
	@include breakpoint ($small) {
		height: 25vh;
	}

	@include breakpoint ($medium) {
		height: 35vh;
	}
	
	@include breakpoint ($large) {
		height: 45vh;
	}

	h1 {
		@include breakpoint ($small) {
			margin-top: 130px;
		}

		@include breakpoint ($medium) {
			margin-top: 190px;
		}
	
		@include breakpoint ($large) {
			margin-top: 250px;
		}
	}

	&--home {
		@include breakpoint ($small) {
			height: 40vh;
		}

		@include breakpoint ($medium) {
			height: 50vh;
		}
	
		@include breakpoint ($large) {
			height: 65vh;
		}

		h1 {
			margin-top: 0;
		}
	}

	.post {
		&__img {
			width: 100%;
			height: 120vh;
			position: absolute;
			left: 0;
			top: -150px;
			z-index: -2;
		}

		&__info {
			margin-top: 250px;

			&--top-margin {
				@include breakpoint ($small) {
					margin-top: 130px;
				}

				@include breakpoint ($medium) {
					margin-top: 230px;
				}

				@include breakpoint ($large) {
					margin-top: 320px;
				}
			}
		}

		&__title {
			border-top: 2px dotted $white;
			margin-bottom: 15px;
			padding-top: 20px; 
		}
	}
}