.nav {
	background: $gradient;
	color: $white;
	font-family: $heading-font-family;

	&__logo {
		img {
			width: 48px;
			margin-top: 30px;
		}

		h3 {
			font-size: 1.5rem;
			font-weight: $bold;
			margin: 0;
			padding-top: 50px;
			padding-left: 60px;
		}
	}

	.search-icon {
		width: 32px;
		margin-bottom: -10px;
	}

	&__links {
		ul {
			margin-top: 5px;
			margin-bottom: 15px;
		}

		li {
			display: inline-block;
			margin: 0 15px;
		}
	}
}