.nav {
	background: $gradient;
	color: $white;
	font-family: $heading-font-family;

	&--mobile {
		position: relative;

		@include breakpoint ($small) {
			display: block;
 		}
  
		@include breakpoint ($large) {
			display: none;
		}

		.nav__links {
			display: none;
			position: absolute;
			top: 85px;
			right: 0;
			z-index: 2;

			@include breakpoint ($small) {
				width: 80%;
			}

			@include breakpoint ($medium) {
				width: 50%;
			}

			ul {
				background: $btn-gradient;
				margin: 0;
				padding: 0;
			}

			li {
				display: block;
				text-align: center;
				padding: 15px 0;
			}
		}
	}

	&--desktop {
		@include breakpoint ($small) {
			display: none;
		}
  
		@include breakpoint ($large) {
			display: block;
		}
	}

	&__logo {
		img {
			width: 48px;

			@include breakpoint ($small) {
				margin-top: 15px;
				padding-bottom: 15px;
			}
  
			@include breakpoint ($large) {
				margin-top: 30px;
			}
		}

		h3 {
			font-size: 1.5rem;
			font-weight: $bold;
			margin: 0;
			padding-top: 50px;
			padding-left: 60px;
		}
	}

	.search-icon {
		width: 32px;
		margin-bottom: -10px;
	}

	&__links {
		ul {
			margin-top: 5px;
			margin-bottom: 15px;
		}

		li {
			display: inline-block;
			margin: 0 15px;
		}
	}
}