.btn {
	display: inline-block;
	font-weight: $semibold;
	border: none;
	padding-left: $button-padding--lr;
  padding-right: $button-padding--lr;
  padding-top: $button-padding--tb;
  padding-bottom: $button-padding--tb;
	

	&--primary {
    color: $white;
    background: $gradient;
  }
}