.btn {
	display: inline-block;
	font-weight: $semibold;
	border: none;
	padding-left: $button-padding--lr;
  padding-right: $button-padding--lr;
  padding-top: $button-padding--tb;
  padding-bottom: $button-padding--tb;
	

	&--primary {
    background: $gradient;
    transition: 0.2s;

    a {
			color: $white;
			text-decoration: none;
		}
  }

  &--apply {
    padding-left: 2.375rem;
    padding-right: 2.375rem;
  }

  /*&--primary:hover, &--primary:focus, &--primary:active {
  	opacity: 0.8;
  }*/
}