.category {

	ul {
		padding: 0;
	}

	ul li {
		display: inline-block;

		@include breakpoint ($small) {
   		margin-left: 5px;
			margin-bottom: 5px;
  	}
  
		@include breakpoint ($large) {
			margin-left: 15px;
			margin-bottom: 10px;
		}
	}
	
	.link {
		font-family: $heading-font-family;
		font-size: 0.75rem;
	}

	.current {
		color: $blue;
		font-weight: $semibold;
	}

	.current:hover, .current:active, .current:focus {
		border-bottom: 2px dotted $blue;
	}
}