.events {
	padding: 50px 0 30px 0;

	.event {
		display: flex;
		padding-top: 20px;
		padding-bottom: 50px;

		&__img {
			max-width: 250px;
			max-height: 200px;
			overflow: hidden;

			@include breakpoint ($small) {
				display: none;
			}

			@include breakpoint ($medium) {
				display: block;
			}

			img {
				width: 300px;
				height: 200px;
			}
		}

		&__info {
			padding-left: 30px;

			p:first-child {
				margin-bottom: 20px;
				font-size: 1.25rem;
				font-weight: $semibold;
			}

			p:nth-child(2) {
				font-weight: $semibold;
			}

			p {
				margin: 0;
			}
		}

		&--border::after {
			@include breakpoint ($small) {
				display: none;
			}

			@include breakpoint ($xlarge) {
				display: block;
				content: '';
				position: absolute;
				width: 575px;
				margin-top: 240px;
				border-bottom: 2px dotted $light-grey;
			}	
		}
	}

	.btn {
		margin-top: 20px;
		margin-bottom: 30px;
	}
}