.form {

  &__fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1/2*$gutter;
  }

  &__label {
    display: none;
  }

  &__input {
    text-align: center;
    border: none;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: $button-padding--tb;
    padding-bottom: $button-padding--tb;
  }

  .btn {
    margin-left: -5px;
  }

}