.form {

  &__fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  &__label {
    display: none;
  }

  &__input {
    color: $dark-grey;
    text-align: center;
    border: none;
    padding-top: $button-padding--tb;
    padding-bottom: $button-padding--tb;

    @include breakpoint ($small) {
      padding-left: 30px;
     padding-right: 30px;
    }
  
    @include breakpoint ($medium) {
      padding-left: 60px;
      padding-right: 60px;
    }

    &--contact {
      font-family: $base-font-family;
      font-size: 1rem;
      text-align: left;
      padding-left: $button-padding--lr;

      @include breakpoint ($small) {
        width: 100%;
      }
  
      @include breakpoint ($medium) {
        width: 40%;
      }

      @include breakpoint ($large) {
        width: 30%;
      }
    }
  }

  .textarea {
    width: 100%;
    color: $dark-grey;
    font-family: $base-font-family;
    font-size: 1rem;
    border: none;
    resize: none;
    margin-top: 20px;
    padding-left: $button-padding--lr;
    padding-right: $button-padding--lr;
    padding-top: $button-padding--tb;
    padding-bottom: $button-padding--tb;
  }

  .checkbox__label {    
    font-family: $heading-font-family;
    font-size: 0.75rem;
    font-weight: $semibold;
    display: inline;
  }

  .btn {
    @include breakpoint ($small) {
      margin-top: 15px;
      margin-left: 0;
    }

    @include breakpoint ($medium) {
      margin-top: 0;
      margin-left: -5px;
    } 

    &--contact {
      @include breakpoint ($small) {
        margin-top: 15px;
      }
  
      @include breakpoint ($medium) {
        margin-top: -40px;
      }
    }
  }
}



/*------------------------------------*\
# CONTACT FORM
\*------------------------------------*/
.form-background {
  color: $white;
  background-image: url('../img/photos/tim-marshall-57456.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
  padding: 50px 0;

  h2 {
    @include breakpoint ($small) {
      margin-bottom: 20px;
    }

    @include breakpoint ($large) {
      margin-bottom: 40px;
    }
  }

  &--contact {
    background-image: url('../img/photos/corinne-kutz-211251.jpg');
    margin-top: 0;

    .fieldset {
      margin: 0;
    }

    .btn {
      margin-top: 20px;
    }
  }
}



/*------------------------------------*\
# CHECKBOX
\*------------------------------------*/

.input--checkbox {
  /* original check box are push outside the viexport */
  position: absolute;
  left: -1000em;

  & + label {
    background: $white;
    line-height: 2rem;
  }

  & + label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 40px;
    background: url('../img/icons/checkbox-3.png') no-repeat;
    outline: 0 !important;
    border: 0 !important;

    @include breakpoint ($small) {
      margin-top: 10px;
    }

    @include breakpoint ($medium) {
      margin-top: 30px;
    }

    /* The following is used to adjust the position of
    the check boxes on the text baseline */

    vertical-align: bottom;
    position: relative;
    bottom: 0;
  }

  &:checked + label:before {
    background-position: 0 -8px;
  }

  &:disabled + label:before {
    background-position: 0 -120px;
  }

  &:checked:disabled + label:before {
    background-position: 0 -40px;
  }

  &:focus + label:before {
    outline: 2px dotted $blue;
  }
}