.summary {
	border-bottom: 2px dotted $blue;
	padding-top: 25px;
	padding-bottom: 20px;

	&__img img {
		width: 350px;
		height: 230px;
	}

	h2 {
		font-family: $base-font-family;
		font-weight: $semibold;
	}
	
	&--no-border {
		border: none;
	}

	span {
		color: $blue;
	}
}